body {
    font-family: monospace;
    background-color: #f0f0f0;
    color: #333;
    padding: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1 {
    font-size: 3em;
    color: #007bff;
}
p {
    font-size: 1.2em;
}
a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.typewriter {
    display: inline-block;
    border-right: 0.05em solid; /* Cursor animation */
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide text until typing */
    animation: typing 3s steps(30) forwards,
               blinking 0.5s infinite; /* Blink animation */
}

/* Typing animation */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* Blinking cursor animation */
@keyframes blinking {
    50% { border-color: transparent; }
}

.social-links a {
    margin-right: 20px;
    font-weight: bold;
    transition: transform 0.3s;
}

.social-links a:hover {
    transform: scale(1.1);
}
